@import url("https://use.typekit.net/xyl5rvo.css");

* {
    box-sizing: border-box;
    font-family: zedou;
}

:root {
    --primary: #F5CB5C;
    --secondary: #CFDBD5;
    --danger: crimson;
    --white: #F4F6F5;
    --black: #242423;
    --gray: #464746;
    --gray2: #e8eddf;
    --gray3: #333533;
    --gray4: #cfdbd5;
}

.dark {
    background-color: var(--black);
    color: var(--white);
}

.dark button {
    color: var(--white);
}

.dark input[placeholder="Search for a note..."] {
    color: var(--white);
}

.light {
    background-color: var(--white);
    color: var(--black);
}

.Themebtn {
    position: absolute;
    bottom: 0;
    right: 0em;
    padding: 1em;
    font-size: 1rem;
    width: 10%;
    transition: all 0.2s ease;
    background-color: var(--black);
    color: var(--white);
    border-top-left-radius: 2em;
}

.dark .Themebtn {
    background-color: var(--white);
    color: var(--black);
}

@media (prefers-color-scheme: light) {
    .light {
        background-color: var(--white);
        color: var(--black);
    }
}

@media (prefers-color-scheme: dark) {
    .dark {
        background-color: var(--black);
        color: var(--white);
    }
}
  

body, .Note {
    display: block;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    background: url(https://www.toptal.com/designers/subtlepatterns/patterns/lightpaperfibers.png);
}

button {
    background: none;
    border: 0;
    margin: 0;
    padding: 0;
    font-size: inherit;
    font-family: inherit;
    cursor: pointer;
    transition: all 0.2s ease;
}

button:hover {
    color: var(--primary);
    text-shadow: 1px 1px 10px rgba(0, 0, 0, 0.02);
}
  
.Note {
    display: flex;
}

/* Desktop */

.Header {
    width: 30%;
    height: 100vh;
    border-right: 1px solid var(--gray);
}

.Header-Top {
    display: flex;
    justify-content: space-around;
    padding: 25px;
}

.Header-Top img {
    width: 4em;
    height: 4em;
}

.NewNote {
    position: absolute;
    bottom: 0.5em;
    font-size: 1.5rem;
}

.logo {
    position: fixed;
    left: 2em;
    top: 1em;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.2);
    transition: all 0.2s ease;
}

.logo:hover {
    transform: scale(1.1);
}

.Header-Top label {
    display: flex;
    align-items: center;
    position: absolute;
    left: 1.3em;
    top: 5em;
    font-size: 1.5rem;
}

.Header-Top input {
    position: absolute;
    left: 5em;
    top: 5em;
    width: 20%;
    height: 30px;
    border: none;
    border-bottom: 1px solid var(--gray);
    font-size: 1.5rem;
    font-family: inherit;
}

.Header-Top button {
    position: relative;
    left: 6em;
}

.Header-Notes {
    margin-top: 2em;
    height: 80%;
    overflow-y: scroll;
}

.Header-Note {
    height: 8em;
    padding: 2em;
    cursor: pointer;
    margin: 1em;
}

.Header-Note-Title {
    display: flex;
    justify-content: space-between;
}

.Header-Note button {
    color: crimson;
}

.Header-Note p {
    margin: 10px 0;
}

.Header-Note small {
    display: block;
}

.Header-Note.active {
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.2);
}

.Header-Note.active, 
.Header-Note.active small {
    background-color: var(--gray2);
    color: var(--gray);
}

.dark
.Header-Note.active small {
    background-color: var(--gray2);
    color: var(--gray);
}

.light
.Header-Note.active,
.Header-Note.active small {
    background-color: var(--gray2);
}

.Main {
    width: 70%;
    height: 100vh;
}

.Main input {
    background: none;
    border: 1px solid var(--gray);
    border-radius: 0.2em;
}

.Main textarea {
    background: none;
    border: 1px solid var(--gray);
    border-radius: 0.2em;
}

.dark .Main input {
    color: var(--white);
}

.dark .Main textarea {
    color: var(--white);
}

.Main-Edit, .Main-Note-Preview {
  height: 50vh;
}

.No-Active-Note {
    width: 70%;
    height: 100vh;
    line-height: 100vh;
    text-align: center;
    font-size: 2rem;
    color: var(--gray2);
}

.dark .No-Active-Note {
    color: var(--gray);
}

.light .No-Active-Note {
    color: var(--gray4);
}

.Main-Edit {
    padding: 25px;
}

.Main-Edit input, textarea {
  display: block;
  border: 1px solid var(--gray);
  margin-bottom: 20px;
  width: 100%;
  height: calc(50vh - 130px);
  padding: 10px;
  resize: none;
  font-family: inherit;
}

.Main-Edit input {
    height: 50px;
    font-size: 2rem;
}

.Main-Note-Preview {
    border-top: 1px solid var(--gray);
    overflow-y: scroll;
    background: rgba(0, 0, 0, 0.02);
}
  
.preview-title {
    padding: 25px 25px 0 25px;
    margin: 0;
}

.markdown-preview {
    padding: 0 25px 25px 25px;
    font-size: 1rem;
    line-height: 2rem;
}

.search {
    padding: 2em;
}

.search input {
    margin-left: 2.3em;
    width: 18%;
    background: none;
}

.Modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--white);
    padding: 1em;
    border-radius: 0.5em;
    height: 25vh;
    width: 25vw;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.2);
} 

.Modal h2 {
    margin: 0;
    font-size: 1.5rem;
    padding-bottom: 1em;
}

.dark .Modal {
    color: var(--white);
    background-color: var(--black);
}

.dark .Modal button {
    color: var(--white);
}

.dark .Modal a {
    color: var(--white);
}

.Modal button {
    position: absolute;
    bottom: 1em;
    left: 1em;
    font-size: 1rem;
}

.Modal button:hover {
    color: crimson;
}

.Modal div {
    font-size: 1rem;
}

.Modal a {
    margin-bottom: 1em;
    text-decoration: none;
    color: var(--black);
    transition: all 0.2s ease;
}

.Modal a:hover {
    color: var(--primary);
    text-decoration: underline;
}

.Modal p {
    padding-top: 0.5em;
    margin: 0;
    font-size: 1rem;
}

.Dropdown {
    position: relative;
    display: inline-flex;
}

.Dropdown-Menu {
    position: absolute;
    width: 6em;
    height: 7em;
    top: 1.5em;
    left: 0.3em;
    text-align: left;
    background-color: var(--gray2);
    border-radius: 0.2em;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.2);
}

.Dropdown-Item {
    padding: 0.5em;
    cursor: pointer;
    list-style: none;
}

input[type="color"] {
    display: inline-block;
	width: 2em;
	height: 2em;
	border: none;
}

.Main-Style-Edit {
    display: flex;
    justify-content: space-around;
    margin: 0 auto;
    align-items: center;
    margin-top: 1em;
    padding: 1em;
    height: 5%;
    width: 50%;
    border-radius: 0.2em;
    background-color: var(--gray4);
}