@import url("https://use.typekit.net/xyl5rvo.css");

* {
    box-sizing: border-box;
    font-family: zedou;
}

:root {
    --primary: #F5CB5C;
    --secondary: #CFDBD5;
    --danger: crimson;
    --white: #F4F6F5;
    --black: #242423;
    --gray: #DCE4DA;
    --gray2: #464746;
    --gray3: #E8EDDF;
}

body, .Note {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  font-size: 16px;
  background: url(https://www.toptal.com/designers/subtlepatterns/patterns/lightpaperfibers.png);
}

button {
    background: none;
    border: 0;
    margin: 0;
    padding: 0;
    font-size: inherit;
    font-family: inherit;
    cursor: pointer;
    color: var(--black);
    transition: all 0.2s ease;
}

button:hover {
    color: var(--primary);
    text-shadow: 1px 1px 10px rgba(0, 0, 0, 0.02);
}
  
.Note {
    display: flex;
}

/* Desktop */

.Header {
    width: 30%;
    height: 100vh;
    border-right: 1px solid var(--gray);
}

.Header-Top {
    display: flex;
    justify-content: space-between;
    padding: 25px;
}

.Header-Notes {
    height: calc(100vh - 78px);
    overflow-y: scroll;
}

.Header-Note {
    padding: 25px;
    cursor: pointer;
}

.Header-Note-Title {
    display: flex;
    justify-content: space-between;
}

.Header-Note button {
    color: crimson;
}

.Header-Note p {
    margin: 10px 0;
}

.Header-Note small {
    display: block;
    color: var(--gray2);
}

.Header-Note:hover {
    background: var(--gray);
}

.Header-Note.active, 
.Header-Note.active small {
  background: var(--secondary);
  color: var(--black);
}

.Main {
    width: 70%;
    height: 100vh;
}

.Main-Edit, .Main-Note-Preview {
  height: 50vh;
}

.No-Active-Note {
    width: 70%;
    height: 100vh;
    line-height: 100vh;
    text-align: center;
    font-size: 2rem;
    color: var(--gray2);
}

.Main-Edit {
    padding: 25px;
}

.Main-Edit input, textarea {
  display: block;
  border: 1px solid var(--gray);
  margin-bottom: 20px;
  width: 100%;
  height: calc(50vh - 130px);
  padding: 10px;
  resize: none;
  font-size: inherit;
  font-family: inherit;
}

.Main-Edit input {
    height: 50px;
    font-size: 2rem;
}

.Main-Note-Preview {
    border-top: 1px solid var(--gray);
    overflow-y: scroll;
    background: rgba(0, 0, 0, 0.02);
}
  
.preview-title {
    padding: 25px 25px 0 25px;
    margin: 0;
}

.markdown-preview {
    padding: 0 25px 25px 25px;
    font-size: 1rem;
    line-height: 2rem;
}